<div class="row">
 <div class="col-8"style="background-image:url('https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80'); background-size:cover">

 </div>
  <div class="container   border-secondary p-4 rounded" style="width:650px" >
    <div class="mx-auto mt-4" >
      <h2>Edit Profile</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div >
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :photo, as: :file %>
          <% if current_user.chef == true %>
          <%= f.input :address,
                      required: true,
                      autofocus: true,
                      input_html: { class: "input is-info" },
                      label_html: { class: "label"} %>

          <%= f.input :bio,
                      required: true,
                      autofocus: true,
                      input_html: { class: "input is-info" },
                      label_html: { class: "label"} %>
          <%= f.input :photo, as: :file %>
          <% else %>

          <% end %>

        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: "button is-info is-rounded btn-signup mb-1" %>
        </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
