<!-- <%= render 'shared/sidebar' %> -->

<div class="container-chefs">
  <div class="row">
  <!-- Agregar items al Navbar lateral o Sidebar -->
    <div class="col-2" id="navbar-dashboard">
      <div class="mt-3 mb-3 ml-3"><h4>Dashboard</h4></div>
      <div class="ml-3"> Usuario: <%= current_user.email %> </div>
      <div class="border-bottom mt-3"></div>
      <ul class="nav flex-column">
        <li class="nav-item">
           <%= link_to "Mis reservas", reservations_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Mis Platos", mis_platos_path(current_user.id), class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Crear Plato", new_dish_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Reviews", '#', class:"nav-link" %>
        </li>
      </ul>
    </div>
    <%# Container de las cards  %>
    <div class="col-10">
      <div class="container mt-3 ml-2">
        <h2> <strong> ¡Bienvenido <%= current_user.first_name %>! </strong></h2>
      </div>
      <div class="container mt-1 mb-5" id="dashboard-card-container">
        <%= link_to "Mis Reservas", reservations_path, class:"card", id:"my-reservations-card" %>

        <%= link_to "Mis Platos", "#", class:"card", id:"my-reservations-card" %>

        <%= link_to "Crear Plato", new_dish_path , class:"card", id:"my-reservations-card" %>

        <%= link_to "Crear Plato", new_dish_path , class:"card", id:"my-reservations-card" %>

        <%= link_to "Crear Plato", new_dish_path , class:"card", id:"my-reservations-card" %>
      </div>
    </div>
  </div>
</div>

<div class="border-bottom mb-5"></div>
