<div class="container m-5">
  <h1><strong>Chefs disponibles para tu fecha</strong></h1>
  <% if params[:query].nil? %>

  <% else %>
    <h4>Coincidencias para búsqueda de: "<%=params[:query] %>"</h4>
  <% end %>
</div>

<div class="container m-5 text-center">
  <div class="row">
    <% categories = [] %>
      <% @dishes.each do |dish| %>
        <%# <% unless dish.category == nil %>
        <% unless categories.include?(dish.category) %>
          <% categories << dish.category %>
        <% end %>
      <% end %>
      <% categories.each do |cat| %>
          <%= image_tag "#{cat}.jpg", style: 'height:120px;width:auto;'%>
     <% end %>
  </div>
</div>
<%# // Filtros %>
<div class="container m-5">
</div>
<%# # Body de chefs %>
<div class="border-bottom m-5"></div>
<div class="container-chefs">
  <div class="row">
    <div class="col-7">
      <div class="container-card-chef ml-5">
        <% @rating_average = [] %>
         <% @average = 0.0 %>
      <% @chefs.each do |chef| %>
        <%= link_to chef_dishes_path(chef.id) do %>
        <%# #Card de chef %>
        <div class="card1-chef">
        <% if chef.photo.key == nil %>
        <% else %>
          <%= cl_image_tag chef.photo.key, style:'min-width:400px' %>
        <% end %>
          <div class="card1-chef-info">
            <h5><strong><%= chef.first_name %> <%= chef.last_name %></strong></h5>
            <p><%= chef.bio %></p>
            <p><small class="text-muted">
            <% @dishes.each do |dish| %>
                <%= image_tag "#{dish.category}.jpg", style: 'height:80px;width:auto;' if dish.chef_id == chef.id && dish.category %>
            <% end %>
            </small></p>
            <% @reviews = Review.where(chef_id: chef) %>
              <% @reviews.each do |review|%>
                <% @rating_average << review.rating %>
              <% end %>
              <% @average = @rating_average.sum / @rating_average.count%>
            <p><small class="text-muted"> Rating: (<%= @average.round(1) %>) <%= image_tag src='https://cdn-icons-png.flaticon.com/512/616/616655.png', style:"height:15px; width:15px ", class:"mb-1" %> (+300 calificaciones) </small></p>
          </div>
        </div>
        <% end %>
      <% end %>
      </div>
    </div>
    <%# Mapa con ubicaciones del chefs %>

    <div class="col-5 mt-4" id="map"
     style="width: 100%; height: 120vh; max-width: 700px; border-radius: 15px"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
<div class="border-bottom mt-5 mb-5"></div>
