<div class="container m-5">
  <h1><strong>Chefs disponibles para tu fecha</strong></h1>
  <h3></h3>
</div>

<div class="container m-5 text-center">
  <div class="row">
    <% categories = [] %>
      <% @dishes.each do |dish| %>
        <%# <% unless dish.category == nil %>
        <% unless categories.include?(dish.category) %>
          <% categories << dish.category %>
        <% end %>
      <% end %>
      <% categories.each do |cat| %>
          <%= image_tag "#{cat}.jpg", style: 'height:120px;width:auto;'%>
     <% end %>
  </div>
</div>

<div class="container m-5">
  <h4> <strong>Filtrar por: </strong></h3>
</div>

<div class="border-bottom m-5"></div>

<div class="container-chefs">
  <div class="row">
    <div class="col-8">
      <div class="container-card-chef ml-5">
      <% @chefs.each do |chef| %>
        <%= link_to chef_dishes_path(chef.id) do %>
        <div class="card1-chef">
        <% if chef.photo.key == nil %>

        <% else %>
          <%= cl_image_tag chef.photo.key  %>
        <% end %>
          <div class="card1-chef-info">
            <h5><strong><%= chef.first_name %> <%= chef.last_name %></strong></h5>
            <p><%= chef.bio %></p>
            <p><small class="text-muted">
            <% @dishes.each do |dish| %>
                <%= image_tag "#{dish.category}.jpg", style: 'height:80px;width:auto;' if dish.chef_id == chef.id && dish.category %>
            <% end %>
            </small></p>
            <p><small class="text-muted"> ✔  <%=chef.rating %> (+300 calificaciones) </small></p>
          </div>
        </div>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="col-4">
          <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoibGVua2FtY2YiLCJhIjoiY2t5NHdobThzMDN0azJvcnY5Z2t2YXF1YiJ9.ek9ZRNF1xIlF39FNXLFEQg'>
    </div>
  </div>
</div>

<div class="border-bottom mt-5 mb-5"></div>
