<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://res.cloudinary.com/dl0clawop/image/upload/v1644347065/pexels-rene-asmussen-2544829_1_alu6ul.jpg');"> %>

<div class="banner">
  <div class="container">
    <div class="content center-column">
      <h1>Los mejores chefs de tu zona, cocinando en tu casa</h1>
      <p>Viví una experiencia única desde el comfort de tu hogar</p>
    </div>
  </div>

  <div class="video-container">
     <video loop playsinline autoplay muted>
     <source src="https://res.cloudinary.com/dl0clawop/video/upload/v1644357107/Hero_Loop_01_uxijxf.mp4" type="video/mp4">
       Your browser does not support the video tag.
    </video>
  </div>
</div>


<div class="body-all">

  <div class="chefs-container">

    <div class="chefs">
      <h1> Chefs de primer nivel <span>cocinan para vos</span></h1>
      <p>Los mejores chefs cocinan sus mejores platos todas las semanas</p>
      <div class="ver-chefs mt-5">
        <%= link_to "Ver todos los chefs ->", chefs_path, class:"text-dark ver-chefs" %>
      </div>
    </div>


    <div class="card-deck mt-5 mb-5">
      <% @chefs.each do |chef| %>
        <div class="card card2 card-chef">
        <% if chef.photo.key == nil %>

        <% else %>
        <%= cl_image_tag  chef.photo.key, class:"card-img-top" %>
          <% end %>
          <div class="card-body">
          <h5 class="card-title text-center"> <%= chef.first_name %> <%= chef.last_name %></h5>
          <p class="card-text text-center"><%= chef.rating %></p>
          <div class="boton-descubrilo text-center">
            <%= link_to "Descubrilo", chef_dishes_path(chef), class: "btn btn-dark" %>
          </div>
        </div>
        </div>

      <% end %>
    </div>
  </div>

  <div class="how-it-works">
    <h3>¿Cómo <span>funciona?</span></h3>
    <p>Contrata al mejor chef de tu zona para una ocasion especial.</p>

    <div class="steps mt-6">
      <div class="step">
        <img src="https://cdn.dribbble.com/users/1078019/screenshots/3246453/media/f381f1434c1ec48c0caaa949bc50de1e.gif" alt="chef-pic">
        <h4>Elegí el chef que mas te guste</h4>
        <p>Explora nuestra oferta de chefs</p>
      </div>

      <div class="step">
        <img src="https://cdn.dribbble.com/users/954572/screenshots/4384496/media/0059a5919deb21064512d12f44a736e3.gif" alt="chef-pic">
        <h4>Arma el menú a tu gusto</h4>
        <p>Elegí los platos que mas te gusten</p>
      </div>

      <div class="step">
        <img src="https://landings-web-assets.cookunity.com/assets/images/home/hiw2.gif" alt="chef-pic">
        <h4>Viví una experiencia única</h4>
        <p>Disfruta la comida desde tu hogar</p>
      </div>
    </div>
  </div>


  <div class="chef-platform">
    <div class="chef-customer-platform">
      <h3>La primer <span>Chef-to-Customer</span> Platform.</h3>
      <p>Celebrando la diversidad y la creatividad de la escena culinaria local, nos asociamos con innovadores chefs de toda la ciudad para brindarle una experiencia gastronomica desde su hogar que no puede encontrar en ningún otro lugar.</p>
      <div class="chefs-img">
        <img src="https://res.cloudinary.com/dl0clawop/image/upload/v1644346657/ChefsHome-denoised_sharpened_upscaled_x2_kkmr6i.png" alt="chefs-img">
      </div>
    </div>
  </div>


  <div class="dish-of-the-day">
    <div class="dish-container">
      <div class="dish-info">
        <h3>Plato <span>del día</span></h3>
        <h4>Tartar de Salmon Flambu</h4>
        <p>por Marco Andujar</p>
        <%= link_to "Descubrilo -->", root_path, class: "btn btn-dark" %>
      </div>
      <div class="dish-video">
        <video loop playsinline autoplay muted>
          <source src="https://res.cloudinary.com/dl0clawop/video/upload/v1644342363/cooking_wf8peq.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</div>
