<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://res.cloudinary.com/dl0clawop/image/upload/v1644347065/pexels-rene-asmussen-2544829_1_alu6ul.jpg');"> %>

<div class="banner">
  <div class="container">
    <div class="content center-column">
      <h1>Los mejores chefs de tu zona, cocinando en tu casa</h1>
      <p>Viví una experiencia única desde el comfort de tu hogar</p>
      <div class="search-chef">
        <div class="donde">
        <h5>¿Donde?<h5>
        <h5><span>Tu dirección</span></h5>
        </div>
        <div class="donde">
        <h5>¿Cuando?</h5>
        <h5><span>Elegí una fecha</span></h5>
        </div>
        <div class="comensales">
        <h5>¿Cuantos?</h5>
        <h5><span>Comensales</span></h5>
        </div>
        <div class="search-icon">
          <i class="fas fa-search"></i>
        </div>

      </div>
    </div>
  </div>

  <div class="video-container">
     <video loop playsinline autoplay muted>
     <source src="https://res.cloudinary.com/dl0clawop/video/upload/v1644357107/Hero_Loop_01_uxijxf.mp4" type="video/mp4">
       Your browser does not support the video tag.
    </video>
  </div>
</div>

<div class="container">

  </div>



<div class="body-all">

  <div class="chefs-container">

    <div class="chefs">
      <h1> Chefs de primer nivel <span>cocinan para vos</span></h1>
      <p>Los mejores chefs cocinan sus mejores platos todas las semanas</p>
      <div class="ver-chefs mt-5">
       <%= link_to "Ver todos los chefs ->", chefs_path, class:"ver-chefs btn btn-dark text-white p-3 px-4 ", style:"font-size: 22px" %>
      </div>
    </div>

<%# Body de 3 chefs mas recientes %>
  <div class="card-deck mt-5 mb-5">
    <div class="card card2 card-chef">
      <% if @chef1.photo.key == nil %>
      <% else %>
        <%= cl_image_tag  @chef1.photo.key, class:"card-img-top" %>
      <% end %>
          <div class="card-body">
            <h5 class="card-title text-center"> <%= @chef1.first_name %> <%= @chef1.last_name %> <%= @average1.round(1) %> <%= image_tag src='https://cdn-icons-png.flaticon.com/512/616/616655.png', style:"height:15px; width:15px ", class:"mb-2" %> </h5>
            <p class="card-text text-center"></p>
            <div class="boton-descubrilo text-center">
              <%= link_to "Descubrilo", chef_dishes_path(@chef1), class: "btn btn-dark" %>
            </div>
          </div>
    </div>

    <div class="card card2 card-chef">
      <% if @chef2.photo.key == nil %>
      <% else %>
        <%= cl_image_tag  @chef2.photo.key, class:"card-img-top" %>
      <% end %>
          <div class="card-body">
            <h5 class="card-title text-center"> <%= @chef2.first_name %> <%= @chef2.last_name %> <%= @average2.round(1) %> <%= image_tag src='https://cdn-icons-png.flaticon.com/512/616/616655.png', style:"height:15px; width:15px ", class:"mb-2" %> </h5>
            <p class="card-text text-center"></p>
            <div class="boton-descubrilo text-center">
              <%= link_to "Descubrilo", chef_dishes_path(@chef2), class: "btn btn-dark" %>
            </div>
          </div>
    </div>

    <div class="card card2 card-chef">
      <% if @chef3.photo.key == nil %>
      <% else %>
        <%= cl_image_tag  @chef3.photo.key, class:"card-img-top" %>
      <% end %>
          <div class="card-body">
            <h5 class="card-title text-center"> <%= @chef3.first_name %> <%= @chef3.last_name %> <%= @average3.round(1)%> <%= image_tag src='https://cdn-icons-png.flaticon.com/512/616/616655.png', style:"height:15px; width:15px ", class:"mb-2" %> </h5>
            <p class="card-text text-center"></p>
            <div class="boton-descubrilo text-center">
              <%= link_to "Descubrilo", chef_dishes_path(@chef3), class: "btn btn-dark" %>
            </div>
          </div>
    </div>

  </div>
  </div>

  <div class="how-it-works">
    <h3>¿Cómo <span>funciona?</span></h3>
    <p>Contrata al mejor chef de tu zona para una ocasion especial.</p>

    <div class="steps mt-6">
      <div class="step">
        <img src="https://cdn.dribbble.com/users/1078019/screenshots/3246453/media/f381f1434c1ec48c0caaa949bc50de1e.gif" alt="chef-pic">
        <h4>Elegí el chef que mas te guste</h4>
        <p>Explora nuestra oferta de chefs</p>
      </div>

      <div class="step">
        <img src="https://cdn.dribbble.com/users/954572/screenshots/4384496/media/0059a5919deb21064512d12f44a736e3.gif" alt="chef-pic">
        <h4>Arma el menú a tu gusto</h4>
        <p>Elegí los platos que mas te gusten</p>
      </div>

      <div class="step">
        <img src="https://landings-web-assets.cookunity.com/assets/images/home/hiw2.gif" alt="chef-pic">
        <h4>Viví una experiencia única</h4>
        <p>Disfruta la comida desde tu hogar</p>
      </div>
    </div>
  </div>
</div>


  <div class="chef-platform">
    <div class="chef-customer-platform">
      <h3>La primer <span>Chef-to-Customer</span> Platform.</h3>
      <p>Celebrando la diversidad y la creatividad de la escena culinaria local, nos asociamos con innovadores chefs de toda la ciudad para brindarle una experiencia gastronomica desde su hogar que no puede encontrar en ningún otro lugar.</p>
      <div class="chefs-img">
        <img src="https://res.cloudinary.com/dl0clawop/image/upload/v1644346657/ChefsHome-denoised_sharpened_upscaled_x2_kkmr6i.png" alt="chefs-img">
      </div>
    </div>
  </div>


  <div class="dish-of-the-day">
    <div class="dish-container">
      <div class="dish-info">
        <h3>Plato <span>del día</span></h3>
        <h4>Tartar de Salmon Flambu</h4>
        <p>por Marco Andujar</p>
        <%= link_to "Descubrilo -->", root_path, class: "btn btn-dark" %>
      </div>
      <div class="dish-video">
        <video loop playsinline autoplay muted>
          <source src="https://res.cloudinary.com/dl0clawop/video/upload/v1644342363/cooking_wf8peq.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</div>

<footer id="footer-home"><div class="row"><div class="flex-start"><div class="column-wrapper"><div class="column-footer"><ul class="ul-footer"><li><a target="_new" href="/how-it-works">How it works</a></li><li><a target="_new" href="/why-cookunity">Why ChefsYA</a></li><li><a target="_new" href="/terms">Terms</a></li><li><a target="_new" href="/privacy-policy">Privacy Policy</a></li><div class="column-mobile"><li><a href="/careers" target="_new">Careers</a></li></div></ul></div><div class="column-footer column-none"><ul class="ul-footer"><li><a href="/careers" target="_new">Careers</a></li><li><a target="_new" href="/become-a-chef">Become a chef</a></li><li><a href="https://support.cookunity.com" target="_new" rel="noopener noreferrer">FAQ</a></li></ul></div><div class="column-footer column-end"><ul class="ul-footer"><div class="column-mobile"><li><a target="_new" href="/become-a-chef"></a></li><li> <a href="https://support.cookunity.com" target="_new" rel="noopener noreferrer">FAQ</a></li></div><li><a target="_new" href="/delivery-map">Delivery Map</a></li><li><a target="_new" href="/gift-cards">Gift Cards</a></li><li><a target="_new" href="/recycle"> <!-- -->Recycling</a></li></ul></div></div><div class="flex-row"><span class="footer-cu">2022<!-- --> © ChefsYA</span><div class="row with-flex"><p class="xsmall">Small batch meals</p><p class="small">Hand-Crafted by chefs</p><p class="large">Hundreds of meals for every palate and preference</p><p class="medium">High-quality ingredients, selected by chefs</p></div></div></div><div class="flex-end"><ul class="ul-footer row-mobile"><div><li class="line-social"><a target="_new" href="https://instagram.com/cookunity">Instagram</a></li><li class="line-social"><a target="_new" href="https://twitter.com/Cookunity">Twitter</a></li><li class="line-social"><a target="_new" href="https://www.facebook.com/Cookunity.us">Facebook</a></li><li><a class="mobile-p"><p>© <!-- -->2022<!-- --> ChefsYA</p></a></li></div><div><li><a href="mailto:info@chefsya.com">info@chefsya.com</a></li><li></li></div></ul></div></div></footer>
