
 <div class="container-chefs">
 <div class="row">
   <%# ESTE ES EL SIDE BAR QUE APARCE A LA IZQ DEL DASHBOARD  %>

     <div class="col-2 bg-light p-0" id="navbar-dashboard ">
      <div class="mt-3 mb-3 ml-3"><h4>Dashboard</h4></div>
      <div class="p-4 text-light bg-success rounded font-weight-bold"> <%= current_user.email %> </div>
      <div class="border-bottom "></div>
      <ul class="nav flex-column mt-2">
        <li class="nav-item">
           <%= link_to "Mis reservas", reservations_path, class:"nav-link text-dark mt-3" %>
        </li>
        <li class="nav-item">
          <%= link_to "Mis Platos", mis_platos_path(current_user.id), class:"nav-link text-dark mt-3" %>
        </li>
        <li class="nav-item">
          <%= link_to "Crear Plato", new_dish_path, class:"nav-link text-dark mt-3" %>
        </li>
        <li class="nav-item">
          <%= link_to "Reviews", '#', class:"nav-link text-dark mt-3" %>
        </li>
      </ul>
    </div>

  <%# ESTE ES EL CONTENIDO DE LAS CARDS CON "MIS RESERVAS", "MIS PLATOS", ETC  %>

    <div class="col-10">
      <div class="container justify-content-center">
        <% @dishes.each do |dish| %>
        <div class="cards card mt-5 mb-5 mx-auto  " style="max-width: 620px;">
          <div class="row no-gutters">
            <div class="col-md-4">
            <% if dish.photos.first == nil %>

            <% else %>
              <%= cl_image_tag dish.photos.first.key, style:"height:100%" %>
            <% end %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title"><b><%= dish.title  %></b></h4>
                  <p><b><i><%= dish.chef.first_name.capitalize  %></i></b></p>
                  <p class="card-text"><%= dish.description %></p>
                  <p class="card-text">$<%= dish.price  %></p>
                  <div class="d-flex justify-content-between mr-3 mb-2">
                    <p class="card-text"><i><small>Categoría: </small><small class="text-muted"><%= dish.category %></small></i></p>
                    <%= link_to "Editar", edit_dish_path(dish), class: "btn btn-dark"  %>
                    <%= link_to "Eliminar", dish_path(dish), :data => {:confirm => 'Are you sure?'}, :method => :delete, class: "btn btn-dark" %>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
