<div class="container m-4">
  <h1>Nueva Reserva</h1>
</div>
<% @selected_dishes.each do |selected| %>

  <% @dishes.each do |dish| %>

    <%= dish.title if dish.id == selected.dish_id %>
  <% end %>
<% end %>
<div class="container">
<%= simple_form_for (@reservation), url: reservation_path do |f| %>
<%= f.input :reservation_date, placeholder: 'Selecciona la fecha deseada' %>
<%= f.input :observations %>


<%# <%= f.association :dishes, colletction: Dish.all  %>

<%= f.submit "Reservar", class: "btn btn-primary"%>
<% end %>
</div>
