

<% if current_user.chef == false %>
<%# CARDS DE LAS RESERVAS PARA UN CUSTOMER  %>

  <div class="row">
    <div class="col-6">
      <h1 class= "text-center mt-4"> Reservaciones</h1>
      <div class="container justify-content-center res-container" style="width:550px">
        <% @reservations.each do |reservation|  %>
          <%= link_to reservation_path(reservation) do %>
            <div id= "reservation-card1"class="cards card mt-4 mr-3 col-6" style="max-width: 550px;">
                  <div  class="card-body  ">
                    <div class=" color-verde-card d-flex justify-content-between border p-2  mb-2" >
                      <h4 class="card-title"><b>Fecha: <%= reservation.reservation_date  %> </b></h4>
                      <p class="card-text">Nº de cliente: <%= reservation.user.id %></p>
                      <%= cl_image_tag reservation.user.photo.key, id: "avatar-res" %>
                    </div>
                    <p class="card-text">Email: <i><%= reservation.user.email%></i></p>
                    <p class="card-text">Chef: <%= User.find(reservation.chef_id).first_name.capitalize %></p>
                  </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <%= image_tag 'https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F9%2F2019%2F07%2Ftardy-reservations-opentable-FT-BLOG0719.jpg', style:"width:100%; height:900px; position:'sticky';" %>
    </div>
  </div>
<% else %>
  <%# BODY DE CARDS DE LAS RESERVAS PARA UN CHEF  %>
  <div class="container-chefs" style="height:1000px">
    <div class="row" style="height:100%">
      <%# SIDEBAR  %>
      <div class="col-2 bg-light p-0" id="navbar-dashboard ">
          <div class="mt-3 mb-3 ml-3 "><h4>Dashboard</h4></div>
          <div class="p-4 text-light rounded font-weight-bold" style='background-color:#7AD7A7'> <%= current_user.email %> </div>
          <div class="border-bottom "></div>
          <ul class="nav flex-column mt-2">
            <li class="nav-item">
              <%= link_to "Mis reservas", reservations_path, class:"nav-link text-dark mt-3" %>
            </li>
            <li class="nav-item">
              <%= link_to "Mis Platos", mis_platos_path(current_user.id), class:"nav-link text-dark mt-3" %>
            </li>
            <li class="nav-item">
              <%= link_to "Crear Plato", new_dish_path, class:"nav-link text-dark mt-3" %>
            </li>
            <li class="nav-item">
              <%= link_to "Reviews", mis_reviews_path, class:"nav-link text-dark mt-3" %>
            </li>
          </ul>
      </div>

      <%# CARDS DE LAS RESERVAS PARA CHEF  %>

        <div class="col-10" style="background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0.1,0,0.1,0.1)), url('https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80'); background-size:cover; background-repeat:no-repeat; background-position-y: bottom;">
          <b><h1 class= "text-center mt-4 text-white font-weight-bold"> Reservaciones</h1></b>
          <div class="container justify-content-center res-container" style="width:550px">
            <% @reservations.each do |reservation|  %>
              <%= link_to reservation_path(reservation) do %>
                <div id= "reservation-card1"class="cards card mt-4 mr-3 col-6" style="max-width: 550px;">
                      <div  class="card-body  ">
                        <div class="color-verde-card  d-flex justify-content-between border  p-2  mb-2" >
                          <h4 class="card-title"><b>Fecha: <%= reservation.reservation_date  %> </b></h4>
                          <p class="card-text">Nº de cliente: <%= reservation.user.id %></p>
                          <%= cl_image_tag reservation.user.photo.key, id: "avatar-res" %>
                        </div>
                        <p class="card-text">Email: <i><%= reservation.user.email%></i></p>
                        <p class="card-text">Cliente: <%= reservation.user.first_name.capitalize %></p>
                      </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
<% end %>
