
<div class="container justify-content-center  ">
 <div class="align-middle">
 </div>
    <h1 class="text-center mt-4 align-items-center">Detalles reserva</h1>
    <%# CARD DE UNA RESERVA ESPECIFICA  %>
      <div id="resevation-card1" class="cards card mt-4 mx-auto " style="max-width: 550px;">
            <div class="card-body">
            <div class="d-flex justify-content-between">
                <p class="card-title"><b>Cliente: <%= @reservation.user.first_name  %> </b></p>
                <p class="card-title"><b>Nº de cliente: <%= @reservation.user_id  %> </b></p>
                 <%= cl_image_tag @reservation.user.photo.key, id: "avatar-res" %>
              </div>
            <% sum = 0 %>
              <% @reservations.each do |reservation| %>
                <% reservation.selected_dishes.each do |selected_dish|%>
                  <h5>- <i><%= selected_dish.dish.title  %></i></h5>

                  <% sum = sum + selected_dish.dish.price %>
                <% end %>
              <% end %>


              <h3><i><em></em></i></h3>
              <p class="card-text">Observaciones: <%= @reservation.observations %></p>
              <div class="d-flex justify-content-between">
                 <p class="card-text ">Fecha de la reserva:<%= @reservation.reservation_date %></p>
                <h3>Total: $<%= sum %></h3>
              </div>


            </div>
      </div>
  </div>
