<div class="container m-4">
  <h1>Nuevo Plato</h1>
</div>

<div class="container">
  <%= simple_form_for [@chef, @dish], url: edit_dish_path do |f| %>
  <%= f.input :title, placeholder: 'Ingrese el nombre del plato' %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :category, collection: ["peruana" , "italiana", "mexicana", "asiática", "thai", "china", "mediterránea" ]  %>
  <%= f.submit "Crear", class: "btn btn-primary"%>
  <% end %>
</div>
