
<div class="container">
 <div class="card">
    <% @dishes.each do |dish| %>
      <%= dish.title  %>
      <%= dish.description  %>
      <%= dish.price  %>
      <%= dish.category %>
      <%= dish.chef.email  %>
    <% end %>
  </div>
</div>
