<div class="container mt-4">
  <%= simple_form_for (@dish) do |f| %>
<%= f.input :title, placeholder: 'Nombre del plato' %>
<%= f.input :description, placeholder: 'Descripcion' %>
<%= f.input :price, placeholder: 'Price' %>



<%= f.submit "Crear plato", class: "btn btn-primary"%>
<% end %>

</div>
